
.navbar-brand {
  font-size: 1.3rem;
  color: white !important;
}

.nav-link {
  margin-left: 1.5rem;
  font-weight: 500;
  color: white !important;
}

.nav-link:hover {
  color: #d9eaff !important;
}

.nav-link.active {
  color: white !important;
}

