option_settings:
  aws:elasticbeanstalk:container:docker:
    GithubToken: ${GITHUB_TOKEN}
  aws:autoscaling:launchconfiguration:
    InstanceType: t3.micro
  aws:elasticbeanstalk:application:environment:
    SPRING_DATASOURCE_URL: jdbc:mysql://${RDS_ENDPOINT}:3306/bankdb
    SPRING_DATASOURCE_USERNAME: ${RDS_USERNAME}
    SPRING_DATASOURCE_PASSWORD: ${RDS_PASSWORD}
    SPRING_JPA_HIBERNATE_DDL_AUTO: update
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: 'true'
    RetentionInDays: 7
  aws:elasticbeanstalk:xray:
    XRayEnabled: 'false'
