# Elastic Beanstalk configuration file for IAM permissions
# This helps Elastic Beanstalk instance access AWS resources

option_settings:
  aws:autoscaling:launchconfiguration:
    IamInstanceProfile: ElasticBeanstalkEC2Role
  aws:elasticbeanstalk:application:environment:
    SPRING_PROFILES_ACTIVE: prod

